@media screen and (max-width :438px){
  .content2{
    padding-top:50px;
  }
 
}
@media  screen and (max-width:287px) {
    .content2{
        padding-top:150px;
      }
      .navigation{
        margin-left: 40px;
      }
}
@media screen and (max-width:750px){
    .navigation{
        flex-direction: column;
        /* font-size:10px; */
    }
    
}
@media screen and (max-width:470px){
    .nav-left ul li{
        font-size:12px;
        font-weight:bolder;
    }
}
@media screen and (max-width:350px){
    .nav-left{
        flex-direction: column;
    }
    .nav-left ul{
        margin-left:20px;
    }
}